.a{
	
	
width:832px;
height:416px;
border:2px solid black;
float:left;


}

.b{
	
	width:100px;
height:100px;
	border:2px solid black;
	float:left;

}
.c{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
		background-color:#1a3300;
}

.d{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	
}

.e{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}

.f{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	
}
.g{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.h{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	
}
.i{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}



.j{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.k{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}
.l{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.m{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}
.n{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.o{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}
.p{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.q{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}
.r{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	
}
.s{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.t{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}

.u{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}

.v{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}

.w{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}

.x{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}

.y{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}

.z{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}

.ab{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}

.bc{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.cd{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}

.de{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}

.ef{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}

.fg{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
	background-color:#1a3300;
}
.gh{
	width:100px;
height:100px;
	border:2px solid black;
	float:left;
}
