h1{
	letter-spacing:10px;
}
h2{
	text-decoration:blink;
	text-decoration:underline;
	text-transform:capitalize;
}
h3{
	text-transform:lowercase;
	word-spacing:20px;
}
h4{
	text-transform:uppercase;
	line-height:30%;
	text-decoration:over line;
}
h5{
vertical-align:10px;
}
h6{
	word-spacing:10px;
}
p{
	text-decoration:blink;