.srikar{
	height:700px;
	width:700px;
	border:1px solid black;
	
}
.sri{
	height:100px;
	width:700px;
	border:1px solid black;
	margin-top:0px;
	margin-bottom:600px;
}
.sri3{
	height:600px;
	width:700px;
	border:1px solid black;
	margin-top:0px;
	margin-bottom:200px;
}
.ll{
	height:400px;
	width:200px;
	border:1px solid black;
	margin-top:0px;
	margin-bottom:200px;
}
	
	
	
.sri4{
	height:100px;
	width:700px;
	border:1px solid black;
	margin-top:500px;
	margin-bottom:0px;
}
	
	