.srikar{
	height:500px;
	width:500px;
	border:2px solid blue;
	
}
.sri{
	height:480px;
	width:100px;
	border:2px solid blue;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
}

.ll{
	height:150px;
	width:300px;
	border:2px solid black;
	margin-top:10px;
	margin-bottom:480px;
	margin-left:10px;
	float:left;
}
.sri3{
	


	
